<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source=VT-PC; Initial Catalog=UsersDB; Integrated Security=true;"/>
  </connectionStrings>
</configuration>